{% extends 'base.html' %}

{% block title %}
Greetings
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/greet.css') }}">
{% endblock %}

{% block body %}
<section>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_img/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author.username }}</a>
                <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content | safe}}</p>
            </div>
        </article>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <a href="{{url_for('new_post')}}">New Post</a>
        <a href="{{url_for('account')}}">Account</a>
        <a href="{{url_for('logout')}}">Logout</a>
    {% else %}
        <a href="{{url_for('login')}}">Log In</a>
        <a href="{{url_for('reg')}}">Register</a>
    {% endif %}
</section>
{% endblock %}