{% extends 'base.html' %}

{% block title %}
Registration Page
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
{% endblock %}

{% block body %}
<section class="block">
    <div class="block-title">
        Please, fill the forum
    </div>
    <div class="block-form">
        <form method="POST">
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Surname</label>
                    <input type="text" class="form-control" id="surname" placeholder="Surname">
                </div>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="confirm" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input class="btn btn-primary" type="reset" value="Reset">
        </form>
        <!-- <form action="">
            <fieldset>
                <div class="block-form-div">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="block-form-div">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" id="surname">
                </div>
                <div class="block-form-div">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="block-form-div">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="block-form-div">
                    <label for="bday">Birth Date</label>
                    <input type="date" name="bday" id="bday">
                </div>
                <div class="block-form-div">
                    <label for="male">Male</label>
                    <input type="radio" name="male" id="male" checked>
                    <label for="female">Female</label>
                    <input type="radio" name="female" id="female">
                </div>
                <input class="submit" type="submit" />
                <input class="reset" type="reset" />
            </fieldset>
        </form> -->
    </div>
</section>
{% endblock %}